@page "/"

<div>
    <a href="/dynamiccomponent" class="btn btn-primary"> 5. Dynamic Component</a>
</div>

<br />

<div>
    <a href="/databinding" class="btn btn-primary">24. Data Binding</a>
</div>
<br />

<div>
    <a href="/parameters" class="btn btn-primary"> 27. Regular, Route Parameters and EventCallback</a>
</div>
<br />

<div>
    <a href="/cascadinparameters" class="btn btn-primary"> 28. Cascading Parameter</a>
</div>
<br />

<div>
    <a href="/refparameter" class="btn btn-primary"> 29. Referencing Child Components</a>
</div>
<br />

<div>
    <a href="/renderfragment" class="btn btn-primary"> 30. Render Fragment</a>
</div>
<br />

<div>
    <a href="/lifeCycleEventsComp" class="btn btn-primary"> 32. Component LifeCycle Events</a>
</div>
<br />

<div>
    <a href="/formsAndValidations" class="btn btn-primary"> 33. Forms and Validations</a>
</div>
<br />

<div>
    <a href="/stateManagement" class="btn btn-primary"> 34. State Management</a>
</div>
<br />