@page "/stateManagement"

@implements IDisposable
@inject CounterStore  counterStore

<div>
    <button class="btn btn-primary" @onclick="IncrementCounter">Count</button>
    <br />
    <p>@counterStore.GetState().Count</p>
</div>


@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        counterStore.AddStateChangeListeners(() => { StateHasChanged(); });
    }

    public void IncrementCounter()
    {
        counterStore.IncrementCount();
    }

    public void UpdateView()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        counterStore.RemoveStateChangeListeners(UpdateView);
    }
}