@if (Product != null)
{
    <tr>
        <td>@Product.Brand</td>
        <td>
            <a href="@($"/product/{Product.Id}")">@Product.Name</a>
        </td>
        <td>@Product.Price.ToString("c")</td>
    </tr>
}


@code{
    [Parameter]
    public Product Product { get; set; }
}